@font-face {
    font-family: 'lateefregular';
    src: url('../fonts/lateefregot-webfont.woff2') format('woff2'),
         url('../fonts/lateefregot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}